*{
    margin: 0;padding: 0;
}

.container{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.bg-color-blue{ 
    background-color: blue;
}

.box{
    width: 24.2%;
    height: 300px;
    float: left;
    margin: 5px;
    background-color: burlywood;
}
.bg-img{
    background-image: url("../img/bgimg.png");
    background-size: 100% 100px;
    background-repeat: no-repeat;
}
.img-fluid{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 50px;
}