.box1{
    width: 400px;height: 400px;
    margin-top: 40px;
    margin-left: 10px;
 
    background-color: gold;
    color: white;
    /* display: block;
    display: none; */
    text-align: left;
}



p{
    /* display: inline; */
    margin: 10px;
    background-color: gold;
    visibility: visible;
}
h1{
    background-color: green;
    visibility: hidden;
    /* display: none; */
}
img{
    width: 100px;height: 100px;
    float:left;
    /* display: inline; */
}