div{
    border: black 2px solid;
}

.child-1{
    background-color: rgb(248, 220, 177);
}
.child-2{
    background-color: rgb(230, 203, 163);
}
.child-3{
    background-color: rgb(248, 220, 177);
}

a:first-of-type{
    background-color: green;
}

p:empty{
    background-color: red;
    width: 100px;height: 20px;
}

/* input:checked{
    width: 20px;
    height: 20px;
} */
/* input:focus{
    background-color: gold;
} */
/* input[type=text]:enabled{
    background-color: rgb(253, 253, 253);
    color: red;
}
input[type=text]:disabled{
    background-color: rgb(253, 236, 140);
    color: red;
} */

input:focus{
    background-color: gold;
    color: white;
}


#Hindi:disabled{
    background-color: salmon;
    color: red;
}