.box-one ,.box-two,.box-three{
    border: 2px solid black;
}
a{
    color: black;
}

/* a:visited{
    color:green;
    font-size: 2rem;
}  */
a:hover{
    color: chartreuse;
}

a:active{
    color: white;
    background-color: blue;

 }



/* div.container p:nth-child(even){
    background-color: chartreuse;
    font-size: 20px;
} */

/* div.container p:nth-child(2n-1){/* odd 2n+1 and even 2n formula  */
    /* background-color: chartreuse; 
    font-size: 20px;
} */


/* div.container :only-of-type{
    background-color: chartreuse;
    font-size: 20px;
} */

/* div.container :only-child{
    background-color: chartreuse;
} */

div.container :empty{
    background-color: chartreuse;
    width: 100%;height: 50px;
}

/* .box-one :not(p){
    background-color: chartreuse;
    font-size: 20px;
} */



